.carousel-item img{
    height: 350px;
    object-fit: scale-down;
}



#carousel {
    height: 360px; 
    background-color:black;
}
#contenedor_carr{
    background-color:black;
}
body{
    background-color: lightgray;
}

footer {
    background-color: lightgray;
    padding: 20px 0;
    margin-top: auto;
    
}
.footer-col{
    background-color: rgb(89, 165, 12);
}

#carruselproductos .carousel-item {
    flex: 0 0 auto; /* Ajusta el tamaño de los elementos del carrusel */
    width: auto !important; /* Anula cualquier ancho definido previamente */
    height: auto !important; /* Anula cualquier altura definida previamente */
}
#containerhm img{
    object-fit: contain;
 
}
#containerhm button{
    padding: 9px 15px;
}
#containerhm button:hover{
    background-color: darkgray;
}
#imagentransicion{
    height: 350px;
    object-fit: contain;
}
.input-xs {
    width: 70px; 
}